@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

html  {
  background-color: whitesmoke;
}

.arrow  {
  height: 100px;
  width: 100px;
  transform: translate(0, 10vh);
}

header  {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

header  h1  {
  font-size: 3rem;
  margin-left: 10vw;
}

header a {
  color: #222222;
  font-size: 2rem;
  margin-left: auto;
  margin-right: 10vw;
  cursor: pointer;
  padding: 10px;
  transform: translate(10px, 0.8vh);
}

header a:hover {
  color: #134f69;
  transition: ease 0.5s;
}

.glider-contain {
  height: 85vh;
}

.glider {
  height: inherit;
  display: flex;
  align-items: center;
}

.page img {
  height: 75vh;
  max-width: 80vw;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-b  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.horizontal-a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.horizontal-page img {
  height: 75vh;
  max-width: 80vw;
}

.horizontal-page .sixteenbynine {
  height: 60vh;
}

.dots {
  height: 5vh;
}

@media screen and (max-width: 1000px) {
  .page img {
    max-height: 75vh;
    max-width: 80vw;
    width: auto;
    height: auto;
  }

  .arrow  {
    display: none;
  }

  .horizontal-page img  {
    max-height: 75vh;
    max-width: 80vw;
    width: auto;
    height: auto;
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header a {
    transform: translate(10px);
  }
}
